.card__container {
    position: relative;
    width: 28rem;
    height: 27rem;
    display: flex;
    overflow: hidden;
    margin-top: 4rem;
    transition: transform .8s;
    align-items: top;
    justify-content: center;
}

.card__img {
    width: 40rem;
    position: absolute;
    transition: transform .8s;
    display: flex;
}

.card__img:hover {
    transform: scale(1.1);
}

.card__container:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 6px 0px #000;
    border: 1px solid #999;
}