<div class="game__container">
    <div class="game__content">
        <img class="game__img" [src]=[image] alt="">
        <div class="game__info">
            <h1 class="name">| {{id}}</h1>
            <p class="label">{{label}} <span class="type">{{type}}</span></p>
            <br>
            <i class="price">{{price}}</i>
            <br>
            <br>
            <article class="description">
                {{description}}
            </article>
        </div>
    </div>
    <footer>© 2023 Sony Interactive Entertainment LLC Todo o conteúdo, títulos de jogos, nomes comerciais e/ou designações comerciais, marcas comerciais, arte e imagens associadas são marcas registradas e/ou material sob direitos autorais dos seus respectivos
        proprietários. Todos os direitos reservados</footer>
</div>