<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img [routerLink]="['']" src="assets/ps-logo.png" alt="" width="140px" height="32px">
    </div>
    <div class="menu-bar__item">
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/davifv22/" target="blank">LINKEDIN</a>
            </li>
            <li>
                <a href="https://github.com/davifv22" target="blank">GITHUB</a>
            </li>
            <li>
                <a href="https://www.instagram.com/davi.pdf/" target="blank">INSTAGRAM</a>
            </li>
        </ul>
    </div>
</div>